<section id="coursework" class="home-section wg-coursework">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Relevant Courseworks</h1>
            </div>
            <div class="col-12 col-lg-8">
                <table>
                    <tr>
                      <th>Course Title</th>
                      <th>Instructor</th>
                      <th>Keywords</th>
                    </tr>
                    <tr>
                      <td>Optoelectronics</td>
                      <td><a href="https://eee.buet.ac.bd/people/faculty/dsmm">Dr. Sharif Mohammad Mominuzzaman</a></td>
                      <td>Direct and Indirect Band-gap Materials, LED, Lasers, VCSELs, Photodetectors, Modulation of Light</td>
                    </tr>
                    <tr>
                      <td>Semiconductor and Nano Devices</td>
                      <td><a href="https://eee.buet.ac.bd/people/faculty/dmat">Dr. Muhammad Anisuzzaman Talukder</a></td>
                      <td>Lattice Vibration Models, Band Structure of Crystals, Scattering Theory, Quantum Mechanical model of Carrier Transport</td>
                    </tr>
                    <tr>
                      <td>Solid State Device</td>
                      <td><a href="https://eee.buet.ac.bd/people/faculty/dmzb">Dr. Md Zunaid Baten</a></td>
                      <td>Energy Bands, Fermi Levels, Drift and Diffusion of Carriers, PN Junction, Bipolar Junction Transistor, MOS Structure, Multigate FET Structures</td>
                    </tr>
                    <tr>
                      <td>Analog Integrated Circuit</td>
                      <td><a href="https://eee.buet.ac.bd/people/faculty/dabmhr">Dr. A. B. M. Harun-Ur-Rashid</a></td>
                      <td>Amplifiers, Cascode Stages, Current Mirrors, Voltage Reference, Differential Pairs, Two-Stage Op-amp, Switch Capacitor Circuits</td>
                    </tr>
                    <tr>
                      <td>Processing and Fabrication Technology</td>
                      <td><a href="https://eee.buet.ac.bd/people/faculty/dfmm">Dr. Farseem Mannan Mohammedy</a></td>
                      <td>Crystal Growth, Wafer Preparation, CVD, Etching, Nanolithography, Discrete Device Fabrication, Testing, Packaging</td>
                    </tr>
                    <tr>
                      <td>Microprocessor and Embedded System</td>
                      <td><a href="https://eee.buet.ac.bd/people/faculty/dsmc">Dr. Sajid Muhaimin Choudhury</a></td>
                      <td>Instruction Set, ARM Architecture, Pipelining, Dorect Memory Access, ARM Cortex-M Microcontroller, PWM, Serial-Communication</td>
                    </tr>
                  </table>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>
