<section id="experience" class="home-section wg-pages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Professional Experience</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Internship
                    </h3>
                    <div>
                        <span class="article-header">Silicon Engineering Department<br>RTL Design Department<a href="https://www.ulkasemi.com/bangladesh/">Ulkasemi Pvt. Limited</a></span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date">
                            December, 2022 - March, 2023
                        </span>
                        <span class="middot-divider"></span>
                    </div>
                    <div class="article-style">
                        <p> Current Mirror design, Band Gap Reference Design, Op-Amp Design, Layout of Analog Circuit in Cadnece <br> 
                            Interface such as SPI, I2C, APB design in Verilog and System Verilog using Cadence and Modelsim </p>
                    </div>
                </div>
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Industrial Attachment Program
                    </h3>
                    <div>
                        <span class="article-header"><a href="https://www.neural-semiconductor.com">Neural Semiconductor Limited</a></span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date">
                            November, 2022
                        </span>
                        <span class="middot-divider"></span>
                        <span class="pub-publication">  
                        </span>
                    </div>
                    <div class="article-style">
                        <p> Industrial exposure about the sections and future prospects of VLSI sector</p>
                    </div>
                </div>  
            </div>
            <br>
            <br>
            <div class="col-12 col-lg-4 section-heading">
                <h1>Leadership and Voluntary Works</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Membership Development Chair
                    </h3>
                    <div>
                        <span class="article-header">BUET Optical and Photonics Society</span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date">
                            November, 2022 - May, 2023
                        </span>
                        <span class="middot-divider"></span>
                    </div>
                    <div class="article-style">
                        <p> Assisted in organizing a seminar on the introduction and basics of Lumerical and Comsol software </p>
                    </div>
                </div>
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Executive Member
                    </h3>
                    <div>
                        <span class="article-header">Kontho BUET (Recitation Club)</span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date">
                            2021 - 2023
                        </span>
                        <span class="middot-divider"></span>
                        <span class="pub-publication">  
                        </span>
                    </div>
                    <div class="article-style">
                        <p> Performed poetry recitation and anchored the program on several occasions</p>
                    </div>
                </div>  
            </div>
            
        </div>
        </br>
        </br>
        </br>
    </div>
</section>
