<section id="projects" class="home-section wg-experience   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Highlighted Projects</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col ">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">Modeling of an Op-Amp based on UA711 architecture using Cadence</h4>
                                <div class="text-muted exp-meta">
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        Final Project assigned at the end of Internship at Ulkasemi Pvt Limited<br>
                                        The obejective of this project was to model a low power and high performance op-amp using gpdk90 technology<br>
                                        <a href="https://docs.google.com/presentation/d/19tWqkfjFk6akvK6AvhdTVNtnEik1crqA/edit?usp=share_link&ouid=100027704074889756612&rtpof=true&sd=true">[Slide]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">Bandgap Reference Circuit Creation using Cadence</h4>
                               <div class="text-muted exp-meta">
                                    
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        The obejective of this project was to build a bandgap reference circuit that has very low temperature dependency and can generate reference voltage of 1.33 volts.<br>
                                        <a href="https://docs.google.com/presentation/d/1BiUcwVsUa4AgtJY0KMqL1VO0JDKPjKuv/edit?usp=share_link&ouid=100027704074889756612&rtpof=true&sd=true">[slide]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">RISC-V Core Design, Verification & Synthesis</h4>
                               <div class="text-muted exp-meta">
                                    
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        A RISC-V processor is designed using multicycle architecture which can read data using APB interface.<br>
                                        <a href="https://docs.google.com/presentation/d/1kO116cBGPI2CdgRS0jZsM4qrIkfkV4c3/edit?usp=share_link&ouid=100027704074889756612&rtpof=true&sd=true">[Slide]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">Making a working Spectrometer and verifying the I-V and L-I characteristics of an LED</h4>
                                <div class="text-muted exp-meta">
                                    
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        A homemade spectrometer is built which can detect different spectra of visible light and arduino is used  to plot the I-V curve.<br>
                                        <a href="https://youtu.be/V9akxeyFIMg">[Video]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">IOT Based Smart Helmet for Industrial Workers</h4>
                                <div class="text-muted exp-meta">
                                   
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        For achieving safety standards air quality, hazardous event and location detection is very important factor in industry. The proposed system provides wireless sensors network for monitoring real time situation of working.<br>
                                        <a href="https://drive.google.com/drive/folders/1FYMuLrzGOSWKOVT_gVFaIrsPYPO208Bu">[Code]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col ">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">DESIGNING AUTOMATED TRAFFIC CONTROL WITH RGB LEDS AND ONLY DIGITAL LOGIC CIRCUITS</h4>
                                <div class="text-muted exp-meta">
                                  
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        Made a model of the Palashi intersection and controlled the traffic lights in real time using digital logic.
                                        <br><a href="https://docs.google.com/presentation/d/1MCRM2G64ylS2-Ezb4aIUHT4W4St0Agl5/edit?usp=share_link&ouid=100027704074889756612&rtpof=true&sd=true">[Slide]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>
